<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.testing.testScript.TC2_Post_Request_with_random_id"/>
      <class name="org.testing.testScript.TC3_Get_All_Request"/>
      <class name="org.testing.testScript.TC4_Get_All_Req_Extract_IdValue"/>
       <class name="org.testing.testScript.TC_5_Get_Particular_By_IdValue"/>
        <class name="org.testing.testScript.TC6_PutRequest"/>
        <class name="org.testing.testScript.TC7_DeleteRequest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
